@import "../colors";

.ma-wishes-col {
  padding-top: 20px;
}

.ma-filters {
  margin-bottom: 10px;
}

.ma-wish-item {
  .ma-party-name {
    margin-bottom: 20px;
    a {
      color: $color6;
      text-decoration: none !important;
      font-weight: 400;
    }
  }

  .ma-remove {
    color: lighten($color7, 20%);
    position: absolute;
    right: 20px;
    top: 20px;
    &:hover {
      color: $color7;
    }
  }
}

.search-form {
  margin-bottom: 1em;
}
